automate/googletest
automate/build
automate/CMakeLists.txt
automate/prepare-archive.sh
automate/a.out
automate/test.cp
automate/.vscode
automate/TiTools
gold_lahaut_renaud_2b
automate/automate.tar.gz
